pipeline/PL_ADLS_TO_SQL_COPY.json
{
	"name": "PL_ADLS_TO_SQL_COPY",
	"properties": {
		"activities": [
			{
				"name": "Lookup Table to be extracted",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT top 5 *,'Test' as NewSchema FROM dbo.ImportTable WHERE IsEnabled=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_GENERIC",
						"type": "DatasetReference",
						"parameters": {
							"ConnectionSecret": "myadftraining220523-sqlconnection",
							"SchemaName": "SalesLT",
							"TableName": "Address"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Table to be extracted",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Table to be extracted').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get Metadata1",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_ADLS_CSV_FILE_GENERIC",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": {
											"value": "@item().ContainerName",
											"type": "Expression"
										},
										"FilePath": {
											"value": "@item().FileFolder",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().FileName",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Get Metadata1').output.exists",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Append variable1",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "TableExtracted",
											"value": {
												"value": "@concat(item().ContainerName,'/',item().FileFolder,'/',item().FileName)",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy data from SQL TO ADLS",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"preCopyScript": {
													"value": "@{concat('Truncate table ',item().NewSchema,'.',item().TableName)}",
													"type": "Expression"
												},
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false,
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_ADLS_CSV_FILE_GENERIC",
												"type": "DatasetReference",
												"parameters": {
													"ContainerName": {
														"value": "@item().ContainerName",
														"type": "Expression"
													},
													"FilePath": {
														"value": "@item().FileFolder",
														"type": "Expression"
													},
													"FileName": {
														"value": "@item().FileName",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_SQL_GENERIC",
												"type": "DatasetReference",
												"parameters": {
													"ConnectionSecret": "myadftraining220523-sqlconnection",
													"SchemaName": {
														"value": "@item().NewSchema",
														"type": "Expression"
													},
													"TableName": {
														"value": "@item().TableName",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"TableExtracted": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}