pipeline/PL_LOOKUP.json
{
	"name": "PL_LOOKUP",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_GENERIC",
						"type": "DatasetReference",
						"parameters": {
							"ConnectionSecret": "myadftraining220523-sqlconnection",
							"SchemaName": "SalesLT",
							"TableName": "Address"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "test",
								"value": {
									"value": "@item().CountryRegion",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "test",
					"value": {
						"value": "@activity('Lookup1').output.firstRow.CountryRegion",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"test": {
				"type": "String"
			}
		},
		"annotations": []
	}
}